<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">添加账户</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form class="form-horizontal" method="post" action="/createaccount">
        <div class="box-body">
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                    <input class="form-control" id="name" name="username" placeholder="name" type="text">
                </div>
                <div class="col-sm-10 col-sm-offset-2">
                    <span class="text-danger">{{if .ErrMsg}}{{.ErrMsg}}{{end}}</span>
                </div>
            </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer text-center">
        {{/*<button type="submit" class="btn btn-default">Cancel</button>*/}}
            <button type="submit" class="btn btn-info">创建</button>
        </div>
        <!-- /.box-footer -->
    </form>
</div>